.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.logo-image{
  /* background-image: url("https://auth0images.s3.us-east-2.amazonaws.com/amtrust-financial-logo-vector.png"); */
  width: 20rem;
  height: auto;
  padding: 2rem;
}

#hero-background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero {
  max-width: 80%;
  margin: 0 ;
}

.hero-text {
  font-size: 2rem;
  padding-left: 2%;
}

.navbar {
  padding-left: 30%;
  padding-right: 30%;
  box-shadow: none;
}

.bg-light {
  background-color: white !important;
}

.navbar-nav .nav-link {
  color: #041433;
  padding: 0 0 rem 0;
  box-sizing: border-box;
  margin: 0 4em 0 0;
  font-weight: bold;
  font-size: rem;
  width: 100%;
}

.navbar .router-link-exact-active {
  color: #041433;
  border-bottom: 3px transparent #0066f9;
}

.container {
  max-width: 100%;
}

.api-container {
  display: flex;
  flex-direction: column;
  margin-left: 25rem;
}

.navarrow {
  color: #E76F34;
  font-size: 0em;
  font-weight: 1500;
  position: relative;
  padding-bottom: 100px;
}

pre {
  color:  #E6DB74;
}

.text-center .container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-filler {
  display: block;
  width: 100%;
  /* margin: 2% 0 2% 0; */
}

.mt-5 {
  margin: 0;
  padding: 0;
  padding-top: 0;
}

.btn-primary {
  background-color: rgb(13, 116, 23);
  border-radius: 5%;
}

.nav-container-items {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.container {
  padding: 0;
  height: auto;
}


h1 {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* .container-claims {
  display: inline-flex;
  flex-direction: row;
} */

mark {
  background-color: #272822;
  color: #F92672;
  max-width: 70%;
  min-width: 70%;
  overflow: visible;
}